version: 2
jobs:
  ipfs:
    docker:
      - image: circleci/node:latest
    environment:
      NODE_ENV: "test"
      LAND_REGISTRY_CONTRACT_ADDRESS: "0x7a73483784ab79257bb11b96fd62a2c3ae4fb75b"
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt install -y libusb-1.0-0 libusb-1.0-0-dev
      - run: wget https://dist.ipfs.io/go-ipfs/v0.4.11/go-ipfs_v0.4.11_linux-amd64.tar.gz
      - run: tar xvfz go-ipfs_v0.4.11_linux-amd64.tar.gz
      - run: sudo cp go-ipfs/ipfs /usr/local/bin
      - run: ipfs init
      - run: ipfs daemon --offline > ipfs.log &
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: npm i
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm run test

workflows:
  version: 2
  build:
    jobs:
      - ipfs
